section:not(:last-child) {
  margin-bottom: 3rem;
  // border-bottom: 1px solid rgba(50, 50, 50, 0.3);
  // border-radius: 0.3rem;
  // box-shadow: 2px 2px 5px 1px rgba(15, 10, 5, 0.10);
  // padding: 0.5rem;
}

section#personal_info {
  display: flex;
  place-content: center;

  img.profile-pic {
    height: 15rem;
    width: 15rem;
    border: 1px solid rgba(50, 50, 50, 0.3);
    margin-right: 2rem;
  }

  table {
    width: 100%;
    margin-top: 1rem;

    tr {
      background: transparent !important;
      border: none;

      th {
        border-right: 1px solid rgba(50, 50, 50, 0.1);
        text-align: right;
        width: 40%;
      }
    }

    &#profile_table tr {
      height: 2.5em;
    }
  }

  .pgp-key span:not(:last-child):after {
    content: " ";
  }
}

@media screen and (max-width: 500px) {
  section#personal_info {
    display: block;
    img {
      width: 100%;
      height: auto;
      margin: 0 !important;
    }
  }
}

ul.skills {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  list-style: none;
  padding: 0;
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 5em;
    margin: 1em;

    img {
      object-fit: contain;
      width: 5em;
      height: 5em;
      margin-bottom: 1em;
    }
    div {
      text-align: center;
    }
  }
}

$timeline-color: #99aaaa;
ul.timeline {
  list-style: none;
  padding-left: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
  li {
    display: flex;
    position: relative;
    margin-top: 1.5em;
    padding-left: 2em;

    &:after {
      content: "";
      height: calc(100% + 1.6em);

      border-left: 2px solid $timeline-color;
      position: absolute;
      top: 0;
      left: calc(1.5em / 2 - 1px);
      z-index: 5;
    }

    &.timeline-entry {
      &:before {
        content: "";
        width: 1.2em;
        height: 1.2em;
        border-radius: 50%;
        background: $timeline-color;
        border: 5px solid white;
        position: absolute;
        left: 0.15em;
        z-index: 10;
      }

      .icon {
        width: 1.5em;
        height: 1.5em;
        background: white;
        border: 1px solid white;
        z-index: 11;
        position: absolute;
        left: 0em;
        top: -0.25em;
      }

      .date {
        margin-right: 1em;
      }
      .detail {
        flex-grow: 1;
      }
    }
  }
}

.works {
  .entry-card {
    margin: 0.5rem;
    border-radius: 0.3rem;
    box-shadow: 2px 2px 5px 2px rgba(15, 10, 5, 0.1);
    padding: 0.5rem;
    h3 {
      font-size: 1.3em;
    }

    .card-header {
      display: flex;
      align-items: center;
      margin-bottom: 0.5em;

      .card-title {
        font-size: 1.2em;
        margin-right: 0.5em;
        flex-grow: 1;

        img.card-icon {
          width: 1em;
          margin-right: 0.1em;
        }
      }

      ul.card-tags {
        list-style: none;
        text-align: right;
        padding: 0;
        margin: 0;
        margin-left: 1em;
        display: flex;
        max-width: 30vw;
        flex-wrap: wrap;
        li {
          display: block;
          margin-right: 0.5em;
          a > img {
            border-bottom: 1px solid;
            filter: drop-shadow(1px 1px 0.2em rgba(#aaaaff, 1));
          }
          img {
            display: block;
            object-fit: contain;
            width: 1.2em;
            height: 1.2em;
          }
        }
      }
    }
  }
}
