---
import Layout from "@/layouts/default.astro";

import { getCollection } from "astro:content";
import { date_str, get_title } from "./_util.ts";

export async function getStaticPaths() {
  const entries = await getCollection("posts");
  return entries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;

const { appendCss, appendJs } = entry.data;
const { Content } = await entry.render();
---

<Layout title={get_title(entry)}>
  <p id="post-header">
    <a href="/posts/">投稿</a>
    &nbsp;&raquo;&nbsp;
    <time>{date_str(entry.data.date)}</time>
  </p>
  <Content />
  { appendCss && <>
    <div data-style={appendCss} id="inlineStyle" />
    <script is:inline>
      document.addEventListener('DOMContentLoaded', function() {
        const styleContent = document.getElementById('inlineStyle').getAttribute('data-style');
        const styleSheet = document.createElement("style");
        styleSheet.textContent = styleContent;
        document.head.appendChild(styleSheet);
      });
    </script>
  </> }
  { appendJs && <>
    <div data-script={appendJs} id="inlineScript" />
    <script is:inline>
      document.addEventListener('DOMContentLoaded', function() {
        const scriptContent = document.getElementById('inlineScript').getAttribute('data-script');
        const dynamicFunction = new Function(scriptContent);
        dynamicFunction();
      });
    </script>
  </> }
</Layout>
