@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Roboto&display=swap");
@import "katex/dist/katex.min.css";

* {
  --bg0: #fff;
  --bg1: #f5f8fa;
  --bg2: #ddd;
  --fg0: #111;
  --fg1: #333;
  --fg2: #666;
  --link: #0d6efd;
  --link-visited: #6f42c1;

  --info-bg: #cee7;
  --warn-bg: #feba;

}

@media (prefers-color-scheme: dark) {
  * {
    --bg0: #33333f;
    --bg1: #223;
    --bg2: #44444f;
    --fg0: #ddd;
    --fg1: #aaa;
    --fg2: #888;
    --link: #3d96ff;
    --link-visited: #417eff;

    --info-bg: #8cc4;
    --warn-bg: #fc65;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  background: var(--bg1);
}
body {
  font-family: "Roboto", "Kosugi Maru", sans-serif;

  color: var(--fg0);
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
}

header {
  height: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  a {
    font-size: 1.2rem;
    display: block;
    text-decoration: none;
    color: var(--fg0) !important;
  }
  small {
    font-size: 0.8rem;
    color: var(--fg1);
    margin-left: 0.5rem;
    &::before {
      content: "― ";
    }
  }
}

main {
  margin-top: 0.5rem;
  background: var(--bg0);
  padding: 3rem;
  padding-top: 0.5rem;
  box-shadow: 0 0 5px 0 rgba(15, 10, 5, 0.05);
}
@media screen and (max-width: 960px) {
  main {
    padding: 1rem;
  }
}

footer {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: var(--link);
  &:visited {
    // opacity: 0.5;
    color: var(--link-visited);
  }
}

hr {
  margin: 2rem 0;
}

// Markdown styles

h1 {
  font-size: 2em;
  // border-bottom: 1px solid var(--bg2);
  border-left: 0.5rem solid var(--bg2);
  padding-left: 0.2rem;
  font-weight: normal;
}
h2 {
  font-size: 1.6rem;
  // border-bottom: 1px solid #ddd;
  /* border-left: 0.5rem solid #ddd; */
  padding-left: 0.2rem;
  margin-right: 1.5rem;
}

h1, h2 {
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 0.15rem;
    background: linear-gradient(
      to right,
      rgba(from var(--bg2) r g b / 1.0) 30%,
      rgba(from var(--bg2) r g b / 0.1) 100%
    );
    margin-top: 0.3rem;
    margin-left: -0.2rem;
  }
}

h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1.3rem;
}
h5 {
  font-size: 1.2rem;
}
h6 {
  font-size: 1.1rem;
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.7rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

code, pre:has(code) {
  padding: 0.2em 0.4em;
  font-size: 1.1em;
  border-radius: 4px;
  vertical-align: 0.08em;
}

code:not(pre.astro-code code) {
  background: var(--bg1);
}

pre code {
  padding: 0.5em 0.5em;
  display: block;
  overflow-x: auto;
}

@media (prefers-color-scheme: dark) {
  .astro-code,
  .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}

p.katex {
  background: rgba(33, 90, 160, 0.03);
}

table {
  border-collapse: collapse;
  th,
  td {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }

  thead tr,
  tbody tr:not(:last-child) {
    border-bottom: 1px solid rgba(from var(--fg0) r g b / 0.3);
  }
  tbody tr:nth-child(odd) {
    background-color: rgba(from var(--bg2) r g b / 0.5);
  }
}

blockquote {
  margin-left: 0;
  border-left: 2px solid rgba(70, 75, 80, 0.5);
  padding-left: 0.3rem;
  font-style: italic;
}

img {
  max-width: 100%;
  height: auto;
}

div.md-directive {
  margin: 1rem 0;
  padding: 0 1rem ;
  border-radius: 8px;
  background: var(--bg1);
  border: 1px solid var(--bg2);
  color: var(--fg0);

  position: relative;
  padding-left: 3rem;
  &:before {
    // place an icon here
    content: "";
    position: absolute;
    left: 1rem;
    top: 1rem;
    display: block;
    background: var(--fg0);
    color: var(--bg0);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
  }

  &.md-directive-info {
    background: var(--info-bg);
    &:before {
      content: "i";
    }
  }
  &.md-directive-warning {
    background: var(--warn-bg);
    &:before {
      content: "!";
    }
  }
}
