@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Roboto&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  background: rgba(245, 248, 250);
}
body {
  font-family: "Roboto", "Kosugi Maru", sans-serif;

  color: rgba(0, 0, 0, 0.9);
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
}

header {
  height: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  a {
    font-size: 1.2rem;
    display: block;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9) !important;
  }
  small {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.6);
    margin-left: 0.5rem;
    &::before {
      content: "― ";
    }
  }
}

main {
  margin-top: 0.5rem;
  background: #fff;
  padding: 2rem;
  padding-top: 0.5rem;
  box-shadow: 0 0 5px 0 rgba(15, 10, 5, 0.05);
}
@media screen and (max-width: 1200px) {
  main {
    padding: 1rem;
  }
}

footer {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a,
a:visited {
  color: #0d6efd;
}
